[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/geo/*"
  to = "https://api.openweathermap.org/geo/1.0/:splat"
  status = 200
  force = true
  headers = {X-From = "Netlify"}

[[redirects]]
  from = "/api/weather/*"
  to = "https://api.openweathermap.org/data/2.5/:splat"
  status = 200
  force = true
  headers = {X-From = "Netlify"}

[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, POST, PUT, DELETE, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type, Authorization"

# SPA fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200